{% extends 'Main.html' %}
{% block content %}
    {% if user.is_superuser %}
        <section id='users'>
            <div class="container">

                <div class="users">

                    <div class="users_logo"><h2>Users:</h2></div>
                    <div class="isadmin"><h2>Is admin</h2></div>
                    <div class="users_list">
                        <ul>
                            <li class="li"><a href="#">User 1</a></li>
                            <li class="li"><a href="#">User 2</a></li>
                            <li class="li"><a href="#">User 3</a></li>
                        </ul>
                    </div>
                    <div class="isadmin_list">
                        <ul>
                            <li class="li">Yes</li>
                            <li class="li">No</li>
                            <li class="li">No</li>
                        </ul>
                    </div>
                </div>
            </div>
	    </section>
    {% else %}
        <h1>You are not admin</h1>
    {% endif %}



{% endblock %}