{% extends 'Main.html'%}
{% block content %}
    <section id="form">

		<div class="container">
			<div class="form card">
				<form action="" method="post">
                    {% csrf_token %}
					<p>Please sign in</p>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" id='username' placeholder='username' name="username">

					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id='password' name="password">
					</div>
					<p>You don't have account? <a href="/registration">registration</a></p>
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>

		</div>

	</section>
{% endblock %}