{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

	<meta charset="UTF-8">
	<title>Main</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="row text-center main_nav">
				<nav class="nav">
                    {% if user.is_authenticated %}
                        <h3>{{ user.get_username }}</h3>
                        <a href="/logout">Logout</a>
                    {% else %}
					<a href="/login">Sign in</a>
					<a href="/registration">Sign up</a>
                    {% endif %}
				</nav>
			</div>
			
		</div>
	</header>

	{% block content %}
    {% endblock %}
</body>
</html>