{% extends 'Main.html' %}
{% load static %}
{% block content %}


    <section id='user'>

		<div class="container">
            <a href="/"">Back</a>
            {% if user.is_superuser %}

			<h1><img src="{% static 'img/boy.png'%}" alt="">{{ user_login }}</h1>

                <div class="rights ">


				<form action="" method="post">
                    {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="form-check-label" for="is_admin">Is admin</label>
                                 <select name="is_admin" id="is_admin" class="form-control mb-2">
                                     <option value="Selected" selected disabled>Choose..</option>
                                     <option value="Yes">Yes</option>
                                     <option value="No">No</option>
                                </select>
                            </div>

                       </div>
                <div class="grid-container">
                    {% for prigect in files %}

                            <div class="form-group grid-item">
                                <h4>{{ prigect }}</h4>

                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                        <label class="form-check-label" for="exampleCheck2">Read</label>
                                    </div>
                                    <div class="form-group form-check">
                                         <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                        <label class="form-check-label" for="exampleCheck3">Write</label>
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                                        <label class="form-check-label" for="exampleCheck4">Exec</label>
                                    </div>


                               </div>



                            {% endfor %}
                        </div>
                    <button type="submit" class="btn btn-success">Save</button>


				</form>
			</div>
            {% else %}
                <h1>You dont have rights</h1>
            {% endif %}
		</div>
	</section>

{% endblock %}